<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        ul li {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: azure;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Login</li>
        </ul>
    </nav>
</body>

</html>